/* External CSS */
/* Google fonts */
/* @import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Nunito:wght@400;600;700&family=Open+Sans:wght@300;400;600;700&display=swap'); */
/*defaul CSs*/
*{
	margin:0;
	padding: 0;
    outline: 0;
	/* box-sizing: border-box; */
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'verdana';
    margin: 0 0 15px;
    font-weight: 700;
    font-size: 15px;
}
body {
    font-family: Roboto, 'Segoe UI', Tahoma, sans-serif;
    width: 100%;
    background: #fff;
    display: block; 
    
}
p{
	font-family: 'verdana';
	font-weight: 300;
    color:#3D4150;
}
.section-padding-top{
	padding-top: 100px;
}
.section-padding-bottom{
	padding-bottom: 100px;
}
/*--account info css --*/
.header{
    background: #F3F3F3;
    min-height: 200px;
    margin-top: 147px;
    border-top: 30px solid #FF5722;
    padding-top: 45px;
    display:flex;
    font-family: sans-serif;
}
.logo{
    width: 250px;
    float: left;
    overflow: hidden;
    margin-left: 62px;
}
.top{
    width: 750px; 
    float: left; 
    overflow: hidden; 
    padding-left: 0px;
    margin-left: -20px;
}
.address{
    margin-bottom: 18px;
}
.address p{
    padding-top: 3px;
    color: #484545;
}
.account{
    overflow: hidden;
    margin: 0 auto;
    position: relative;
    line-height: 1.7;
    font-size: 19px;
    color: #443e3e;
    overflow: hidden;
}
#asia{
    margin-left: 122px;
    color: #000;
    font-size: 19.5px;
    font-family: sans-serif;
}
.right{
    float: right;
    margin-top: 25px;
    width: 200px;
    text-align: center;
    font-weight: bold;
}
/* .account {
    background: #f3f3f3;
    padding: 35px;
    border-top: 26px solid #FF5722;
} */
.container{
	/*width: 1300px;*/
	padding: 0 0 0 50px;
	margin: 0 auto;
	/* height: 10vw; */
	/* width: 100vw; */
}
/* .account-info {
    display: flex;
} */

/* .logo img {
    width: 100px;
} */
/* .account-details {
    padding: 0 36px;
}
.account-details h3 {
    font-size: 24px;
    color: #333F4F;
}

.account-details p {
    font-size: 16px;
    margin: 10px 0;
}
.account-details h2 {
    text-transform: uppercase;
    color: #333;
}
.account-no {
    display: flex;
}
.account-no h2 {
    margin: 8px 0px 8px 80px;
    text-transform: uppercase;
}
.receipt {
    width: 200px;
}
.receipt h2 {
    color: #BFBFBF;
}

.receipt p {
    color: #333;
    margin-bottom: 20px;
    border-bottom: 1px solid #BFBFBF;
    padding: 10px 0;
    text-align: center;
    font-size: 14px;
} */
/* user css  */
.user{
    border-bottom: 30px solid #FF5722;
    /* height: 379px; */
    margin-bottom: 147px;
    padding-bottom: 149px;
}
.user-info {
    display: flex;
    padding: 15px;
    border-left: 1px solid #0F0706;
    margin: 30px 20px;
}
.user-name{
    display: flex;
    justify-content: space-between;
    line-height: 25px;
}
.user-details {
    padding: 0 34px;
    line-height: 33px;
    width: 100%;
}

.received-details {
    line-height: 28px;
    width: 200px;
}
.user-details p {
    border-bottom: 1px solid #0F0706;
    /* width: 660px; */
}
.user-details p span {
    margin-left: 438px;
}
.user-name span {
    border: 1px solid #0F0706;
    padding: 5px 40px;
    margin-left: 20px;
    font-weight: 700;
}
.user-name h3 {
    margin-left: -200px;
}

.amount-table {
    float: right;
    width: 400px;
    margin-right: 55px;
}
table {
    /* font-family: arial, sans-serif; */
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #0F0706;
    text-align: left;
    padding: 8px;
  }
  .amount-table p span {
    font-weight: 600;
    margin-right: 30px;
}
/* tr:nth-child(even){background-color: #ddd;} */